

footer{
    nav{
        a{
            color:$gray-300;
            font-size: 20px;
            &:hover{
                color: darken($gray-300,50);
            }
        }
    }
    p{
        font-size: 1.2rem;
        line-height: 4.1rem;
        letter-spacing: -0.17px;
    }
}
